@use "global" as *;


.campaign {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(120);
  }
}

.campaign__inner {

}

.campaign__wrap {
  @include mq(md) {
    position: relative;
  }
}

.campaign__heading {
}

.campaign__contents {
  margin-top: rem(28);
  margin-right: calc(50% - 50vw);  // ※親要素をはみ出るように指定。

  @include mq(md) {
    margin-top: rem(40);
  }
}


// swiper
.campaign__swiper {
  padding-bottom: rem(20);  // カード下の影(box-shadow)が見切れないように少しだけ「padding-bottom」を追加。
  padding-left: rem(8);  // 左端のカードの左側の影(box-shadow)が見切れないように調整済み。

  @include mq(md) {
    padding-left: rem(10);  // １番左端のカード左側の影(box-shadow)が見切れないように少しだけ「padding-left」を追加。
  }
}

.campaign__cards {

}


// swiperの「前へ」「次へ」ボタン
.campaign__arrows {
  display: none;

  @include mq(md) {
    width: rem(240);
    height: rem(80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(80);
    position: absolute;
    top: 0;
    right: rem(-6);
  }
}

.campaign__prev,
.campaign__next {  // ボタンの緑の円 (共通の指定)
  width: rem(80);
  height: rem(80);
  border: 1px solid $color-accent1;
  border-radius: 50%;
  background: $color-background-base;
  margin-top: 0;  // デフォルトの指定を打ち消し
  display: grid;
  place-items: center;
  transition: background 0.2s ease-out;
}

.campaign__prev:hover,
.campaign__next:hover {
  background: $color-accent1;
}

.campaign__prev:hover .campaign__prev-img svg path {
  stroke: $color-background-base;
}

.campaign__next:hover .campaign__next-img svg path {
  stroke: $color-background-base;
}

.campaign__prev {
  top: 0;  // デフォルトの指定を打ち消し
  left: 0;  // デフォルトの指定を打ち消し
}

.campaign__prev::after,
.campaign__next::after {
  display: none;  // swiperのデフォルトの青い矢印(ボタン)を消す
}

.campaign__prev-img,
.campaign__next-img {
  @include mq(md) {
    display: grid;
    place-items: center;
  }
}

.campaign__prev-img {
  @include mq(md) {
    display: grid;
    place-items: center;
  }
}

.campaign__prev-img svg {
}

.campaign__prev-img svg path {
  transition: stroke 0.2s ease-out;
}

.campaign__next {
  top: 0;  // デフォルトの指定を打ち消し
  right: 0;  // デフォルトの指定を打ち消し
}

.campaign__next-img {
}

.campaign__next-img svg {
}

.campaign__next-img svg path {
  transition: stroke 0.2s ease-out;
}


.campaign__btn-wrap {
  margin-top: rem(20);  // calc(40 - 20)  「.campaign__swiper」の「padding-bottom」分の20pxを考慮。
  text-align: center;
  margin-bottom: rem(5);  // これを指定しないと、『.l-campaign』に指定した「overflow:hidden;」のせいで、btnの後ろ側の四角の下の部分が見えなくなってしまうから。

  @include mq(md) {
    margin-top: rem(60);
  }
}

.campaign__btn {

}
