@use "global" as *;


.l-footer {
  margin-top: rem(95);

  @include mq(md) {
    margin-top: rem(160);
  }
}




// =======================================
// モディファイア
// =======================================
// .l-footer--404 (404ページのfooter)
.l-footer--404.l-footer {
  margin-top: 0;
}
