@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////
$font-family-base: "Noto Sans JP", sans-serif;
$font-family-en-1: "Gotu", sans-serif;
$font-family-en-2: "Lato", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $font-family-base;
}

// フォントウェイト
// $regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$color-font-base: #0D2936;
$color-background-base: #FFF;
$color-accent1: #408F95;

