@use "global" as *;


.blog {
  padding-top: rem(80);

  @include mq(md) {
    padding-top: rem(100);
    position: relative;
  }
}

.blog::before {  // 背景画像
  @include mq(md) {
    content: "";
    width: 100%;
    height: rem(500);
    background: url(../images/top/pc/blog-bg.jpg) no-repeat center center / cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -3;
  }
}

.blog::after {  // 魚の群れ (薄い色ver)
  @include mq(md) {
    content: "";
    background: url(../images/common/fishes-pale.png) no-repeat center center / contain;
    // width: rem(473);
    // height: rem(201);
    width: calc(437px / 1440px * 100vw);
    max-width: rem(437);
    height: calc(201px / 1440px * 100vw);
    max-height: rem(201);
    position: absolute;
    top: rem(24);
    left: calc(50% - min(48vw, 39rem));  // ※位置を制御
  }
}

.blog__inner {
}

.blog__heading {
}

.blog__posts {
  // margin-top: rem(28);
  margin-top: rem(27);  // PP調整用指定

  @include mq(md) {
    margin-top: rem(80);
  }
}

.blog__btn-wrap {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}

.blog__btn {
}
