@use "global" as *;


/* ブロック要素（パンくず全体） */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  // padding: 0;
  // margin: 0;
  color: $color-font-base;
  font-size: rem(14);
}

/* パンくずアイテム */
.breadcrumbs__item {
  margin-right: rem(8);  // パンくずアイテム間のスペース
}

.breadcrumbs__item:last-child {
  margin-right: 0;  // 最後のアイテムにはスペースを適用しない
}


/* リンク */
.breadcrumbs__link {
  transition: all 0.2s ease-out;
}

.breadcrumbs__link:hover {  // hover
  color: $color-accent1;
  text-decoration: underline; /* ホバー時に下線を表示 */
}


/* 区切り（›の部分） */
.breadcrumbs__separator {
  margin-right: rem(8); /* 区切り記号の余白 */
  color: $color-font-base;
}




// =======================================
// モディファイア
// =======================================
// .breadcrumbs--white (404ページの、白色のパンくずリスト)
.breadcrumbs--white {
  color: #FFF;
}

.breadcrumbs--white .breadcrumbs__link:hover {  // hover
  color: #000;
}

.breadcrumbs--white .breadcrumbs__separator svg path {
  stroke: #FFF;
}
