@use "global" as *;


.checkbox {
  transition: background 0.2s ease-out;
}

.checkbox:hover .checkbox__text::before,
.checkbox:focus .checkbox__text::before {  //『入力時』＝『focus時』
  background: rgba(64, 224, 208, 0.1);  /* ターコイズブルー + 透明度30％ */
}

.checkbox__input {
  width: 1px;  // デフォルトのチェックボックスを、機能は残したまま非表示に。
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.checkbox__input:checked + .checkbox__text::after {  // <input>をクリックした際の『checked属性』のON/OFFが切り替わるのを利用
  opacity: 1;
}

.checkbox__text {
  font-size: rem(16);
  font-weight: $normal;
  line-height: normal;
  position: relative;
  padding-left: rem(22);
}

.checkbox__text::before {  // チェックボックスの外枠の四角
  content: "";
  width: rem(14);
  height: rem(14);
  border: 1px solid $color-accent1;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.checkbox__text::after {  // チェックボックスのチェックマークアイコン。
  content: "";
  width: rem(14);
  height: rem(8);
  background: url(../images/common/checkbox_check-icon.svg) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: rem(0.5);
  transform: translateY(-50%);
  opacity: 0;
}


/* お問い合わせ項目のチェックボックスのエラー時 */
.is-error + .checkbox__text::before {
  border: 1px solid #C94800;  /* 赤枠 */
  background: rgba(201, 72, 0, 0.20);  /* 背景を淡い赤色に */
}
