@use "global" as *;


.contact {
  text-align: center;
}

.contact__heading {

}

.contact__message {
  color: $color-accent1;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.2857;
  text-align: center;
  margin-top: 0;

  @include mq(md) {
    margin-top: rem(2);
  }
}

.contact__btn.btn{
  margin-top: rem(40);
  margin-inline: auto;
}
