@use "global" as *;


.contact-page {

}

.contact-page__inner.inner {
  position: relative;
  max-width: rem(calc(500 + 15 * 2));  // 両端のpadding分を考慮

  @include mq(md) {
    max-width: rem(calc(700 + 25 * 2));  // 両端のpadding分を考慮
  }
}

.contact-page__inner::before {  // 魚の群れ
  content: "";
  background: url(../images/common/fishes.png) no-repeat center center / contain;
  width: rem(120);
  max-width: rem(120);
  height: rem(55);
  max-height: rem(55);
  transform: scaleX(-1);  // 左右反転。
  position: absolute;
  top: rem(-24);
  left: calc(50% - min(48vw, 39rem));  // *位置を制御
  z-index: -1;

  @include mq(md) {
    width: rem(308);
    max-width: rem(308);
    height: rem(145);
    max-height: rem(145);
    top: rem(-60);
    left: calc(50% - min(48vw, 34rem));  // *位置を制御
  }
}

.contact-page__form-wrap {

}

.contact-page__form {  // <form> タグだから、ここにはCSSを指定しない事！！(WordPress化する際に、『Contact Form 7』を使う時に<form>タグは消すため)
}
