@use "global" as *;


.cta {
  position: relative;
}

.cta__wrap {
  padding-top: rem(80);
  padding-bottom: rem(100);
  padding-inline: rem(30);

  @include mq(md) {
    padding-top: rem(140);
    padding-bottom: rem(160);
    padding-inline: rem(30);
    position: relative;
    max-width: rem(1360);  // 魚の位置調整のため。( 1080+(130+10)*2 )  (10は、「.cta__wrap::after」にrightで指定した値)
    margin-inline: auto;
  }
}

.cta__wrap::after {  // 魚の群れ(PC時)
  @include mq(md) {
    content: "";
    background: url(../images/common/fishes.png) no-repeat center center / contain;
    width: rem(301);
    height: rem(138);
    position: absolute;
    top: rem(100);
    right: rem(10);  // 画面幅が小さい時の位置を調整
  }
}

.cta__box {
  background: #FFF;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(40);

  @include mq(md) {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    justify-content: space-between;
    max-width: rem(1080);
    width: 100%;
    padding-block: rem(80);
    padding-left: rem(50);
    padding-right: rem(120);
  }
}

.cta__top {
  max-width: 100%;
  width: 100%;
  text-align: center;

  @include mq(md) {
    flex-shrink: 0;
    width: auto;
  }
}

.cta__head {
  position: relative;
}

.cta__head::after {  // 緑の仕切り線
  content: "";
  max-width: rem(500);  // 広がり過ぎないように、よしなに調整
  width: 100%;
  height: 1px;
  background: $color-accent1;
  position: absolute;
  bottom: rem(-6);
  left: 50%;
  transform: translateX(-50%);

  @include mq(md) {
    max-width: 100%;
    bottom: rem(-8);
  }
}

.cta__logo {
  width: fit-content;
  margin-inline: auto;
  position: relative;
}

.cta__logo::after {  // 魚の群れ(SP時)
  content: "";
  width: rem(109);
  height: rem(50);
  background: url(../images/common/fishes.png) no-repeat center center / contain;
  position: absolute;
  top: rem(-26);
  right: rem(-85);

  @include mq(md) {
    display: none;
  }
}

.cta__logo img {
  max-width: rem(174);
  width: 100%;
  margin-inline: auto;

  @include mq(md) {
    max-width: rem(200);
  }
}

.cta__info {
  margin-top: rem(22);

  @include mq(md) {
    margin-top: rem(32);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: rem(21);
  }
}

.cta__texts {
  color: $color-font-base;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(4);

  @include mq(md) {
    flex-shrink: 0;
    align-items: flex-start;
  }
}

.cta__address {
  font-style: normal;
}

.cta__tel {
}

.cta_hours {
}

.cta__holiday {
}

.cta__map {
  margin-top: rem(16);

  @include mq(md) {
    margin-top: 0;
  }
}

.cta__map iframe {
  aspect-ratio: 295 / 160;
  width: rem(295);
  height: rem(160);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

  @include mq(md) {
    aspect-ratio: 273 / 148;
    width: rem(273);
    height: rem(148);
    box-shadow: none;
  }
}

.cta__divide {  // 緑の縦の仕切り線(PC時のみ表示)
  display: none;

  @include mq(md) {
    display: block;
    content: "";
    width: 1px;
    height: rem(255);
    background: $color-accent1;
  }
}

.cta__contact {

}

.cta__top-btn {  // TOPへ戻るボタン
  display: block;
  position: absolute;
  bottom: rem(16);
  right: rem(15);

  @include mq(md) {
    bottom: rem(20);
    right: rem(20);
  }
}
