@use "global" as *;


.field {
  padding-bottom: rem(24);
  position: relative;
}

.field::after {  // 仕切り線 (点線)
  content: "";
  width: 100%;
  height: rem(1);
  background: url(../images/common/separate-dashed-line.svg) no-repeat center center / cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.field__head {

}

.field__label {
  font-size: rem(16);
  font-weight: $bold;
  line-height: normal;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(8);
}

.field__label-require {  // 『必須』のラベル
  display: inline-block;
  color: #FFF;
  font-size: rem(12);
  font-weight: $normal;
  line-height: normal;
  letter-spacing: 0.4em;
  padding-block: rem(2);
  padding-inline: rem(16);
  background: #C94800;
}

.field__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(16);
}

.field__item input {
  width: 100%;
}

.field__checkboxes {

}

.field__select-wrap {

}

.field__select {

}

.is-textarea {

}

.field__textarea {

}

.is-agree {

}

.field__agree-checkbox {

}
