@use "global" as *;


.field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(16);

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(40);  // 念の為SP時より上書き
  }
}

.field:not(:last-child) {  // 最後の要素以外に設定
  padding-bottom: rem(24);
  position: relative;

  @include mq(md) {
    padding-bottom: rem(40);
  }
}

.field:not(:last-child)::after {  // 仕切り線 (点線) (最後の要素以外に設定)
  content: "";
  width: 100%;
  height: rem(1);
  background: url(../images/common/separate-dashed-line.svg) no-repeat center center / cover;
  position: absolute;
  bottom: rem(-0.5);
  left: 50%;
  transform: translateX(-50%);
}

.field.is-agree {

}

.field__head {

  @include mq(md) {
    flex-grow: 1;
    width: 25.85%;
  }
}

.field__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(8);
}

.field__label-text {
  font-size: rem(16);
  font-weight: $bold;
  line-height: normal;

  @include mq(md) {
    flex-shrink: 0;
  }
}

.field__label-require {  // 『必須』のラベル
  display: inline-block;
  color: #FFF;
  font-size: rem(12);
  font-weight: $normal;
  line-height: normal;
  letter-spacing: 0.4em;
  padding-block: rem(2);
  padding-inline: rem(16);
  background: #C94800;
  text-align: center;

  @include mq(md) {
    flex-shrink: 0;
  }
}

.field__item {
  width: 100%;

  @include mq(md) {
    flex-grow: 1;
    width: 68.57%;
  }
}

.field__item input {
  width: 100%;
}

.field__checkboxes {
  @include mq(md) {
    flex-grow: 1;
    width: 68.57%;
  }
}

.field__select-wrap {
  position: relative;
  width: 100%;

  @include mq(md) {
    flex-grow: 1;
    width: 68.57%;
  }
}

.field__select-wrap::after {  // セレクトボックスの右端の下矢印アイコン
  content: "";
  background: url(../images/common/selectbox-arrow.svg) no-repeat center center / contain;
  width: rem(12);
  height: rem(12);
  position: absolute;
  top: 50%;
  right: rem(8);
  transform: translateY(-50%);
}

.field__select {
  width: 100%;
}

.is-textarea {

}

.field__textarea {
  width: 100%;
  border: rem(1) solid $color-accent1;
  background: #FFF;
}

.field__agree-checkbox {

}
