@use "global" as *;


.gallery {

  @include mq(md) {
    position: relative;
  }
}

.gallery::before {
  @include mq(md) {
    content: "";
    background: url(../images/common/fishes.png) no-repeat center center / contain;
    width: rem(301);
    max-width: rem(301);
    height: rem(138);
    max-height: rem(138);
    position: absolute;
    top: rem(-80);
    right: calc(50% - min(48vw, 40rem));  // *位置を制御
    z-index: -3;
  }
}

.gallery__inner {

}

.gallery__heading {

}

.gallery__grid {
  margin-top: rem(40);
  max-width: rem(500);
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(80);
    max-width: none;
  }
}




// 不要になったコード
// .gallery__photos-top {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: rem(8);

//   @include mq(md) {
//     display: grid;
//     grid-template-columns: 492fr 580fr;  // 左側:右側 = 492:580
//     grid-template-rows: 1fr 1fr;  // 上下の行を均等に分割
//     column-gap: rem(8);
//     row-gap: rem(8);
//   }
// }

// .gallery__photo {
//   padding: 0;  // <button>タグにデフォルトで当たるCSS(padding)をリセット。
// }

// .gallery__photo-01,
// .gallery__photo-02,
// .gallery__photo-03,
// .gallery__photo-04,
// .gallery__photo-05,
// .gallery__photo-06 {

// }

// .gallery__photo-01 {
//   @include mq(md) {
//     grid-column: 1 / 2;  // 1列目
//     grid-row: 1 / 3;  // 1行目から2行目の終わりまでを占める
//   }
// }

// .gallery__photo-02 {
//   @include mq(md) {
//     grid-column: 2 / 3;  // 2列目
//     grid-row: 1 / 2;  // 1行目
//   }
// }

// .gallery__photo-03 {
//   @include mq(md) {
//     grid-column: 2 / 3;  // 2列目
//     grid-row: 2 / 3;  // 2行目
//   }
// }

// .gallery__photo-img {

// }

// .gallery__photo-01 img,
// .gallery__photo-02 img,
// .gallery__photo-03 img,
// .gallery__photo-04 img,
// .gallery__photo-05 img,
// .gallery__photo-06 img {

// }

// .gallery__photo-01 img {
//   aspect-ratio: 345 / 523;
//   object-fit: cover;

//   @include mq(md) {
//     aspect-ratio: 492 / 746;
//     max-width: rem(492);
//   }
// }

// .gallery__photo-02 img,
// .gallery__photo-03 img {
//   aspect-ratio: 345 / 219;
//   object-fit: cover;

//   @include mq(md) {
//     aspect-ratio: 580 / 369;
//     max-width: rem(580);
//   }
// }

// .gallery__photos-bottom {
//   margin-top: rem(8);
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: rem(8);

//   @include mq(md) {
//     display: grid;
//     grid-template-columns: 580fr 492fr;  // 左側:右側 = 580:492
//     grid-template-rows: 1fr 1fr;  // 上下の行を均等に分割
//     column-gap: rem(8);
//     row-gap: rem(8);
//   }
// }

// .gallery__photo-04 {
//   @include mq(md) {
//     grid-column: 1 / 2;  // 1列目
//     grid-row: 1 / 2;  // 1行目
//   }
// }

// .gallery__photo-05 {
//   @include mq(md) {
//     grid-column: 1 / 2;  // 1列目
//     grid-row: 2 / 3;  // 2行目
//   }
// }

// .gallery__photo-06 {
//   @include mq(md) {
//     grid-column: 2 / 3;  // 2列目
//     grid-row: 1 / 3;  // 1行目から2行目の終わりまでを占める
//   }
// }

// .gallery__photo-04 img,
// .gallery__photo-05 img {
//   aspect-ratio: 345 / 219;
//   object-fit: cover;

//   @include mq(md) {
//     aspect-ratio: 580 / 369;
//   }
// }

// .gallery__photo-06 img {
//   aspect-ratio: 345 / 523;
//   object-fit: cover;

//   @include mq(md) {
//     aspect-ratio: 492 / 746;
//   }
// }


// =======================================
// モーダル (modal)
// .gallery__modal {
//   padding: 0;  // <dialog>タグにデフォルトで当たっている指定を打ち消し。
//   border: none;  // <dialog>タグにデフォルトで当たっている指定を打ち消し。
//   width: calc(330px / 375px * 100vw);
//   max-width: rem(600);
//   z-index: 1000;

//   transform: scale(0.8);  // 初期状態を小さく。
//   opacity: 0;  // 初期状態を透明に
//   transition: transform 0.2s ease-out, opacity 0.3s ease-out;  // アニメーションを設定

//   @include mq(md) {
//     width: calc(920px / 1440px * 100vw);
//     max-width: rem(920);
//   }
// }

// .gallery__modal-01 {  // 1枚目
// }

// // 要素を固定するクラス (スクロール不可に)
// .is-fixed {
//   overflow: hidden;
// }

// .gallery__modal.is-visible {  // モーダルが表示される際のアニメーション
//   transform: scale(1);  // 元のサイズに
//   opacity: 1;  // 不透明に
// }

// .gallery__modal::backdrop {  // モーダルが表示されている間の暗い背景
//   background: rgba(32, 32, 32, 0.80);
// }
