@use "global" as *;


.grid {
  display: grid;
  gap: rem(8);

  @include mq(md) {
    display: grid;
    grid-auto-flow: dense;  /* 自動で埋めていく */
    grid-template-columns: 492fr 88fr 492fr;
    grid-auto-rows: 369fr 369fr 369fr 369fr;
    column-gap: rem(8);
    row-gap: rem(8);
  }
}

.grid__item {
  cursor: pointer;
  transition: opacity .2s ease-out;
  width: 100%;
}

.grid__item:hover {  // hover
  opacity: 0.7;
}

.grid__item:nth-of-type(6n + 1),
.grid__item:nth-of-type(6n + 6) {
  @include mq(md) {
    grid-column: span 1;
    grid-row: span 2;
  }
}

.grid__item:nth-of-type(6n + 2),
.grid__item:nth-of-type(6n + 3),
.grid__item:nth-of-type(6n + 4),
.grid__item:nth-of-type(6n + 5) {
  @include mq(md) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

.grid__item-img {
  width: 100%;
  height: 100%;
}

.grid__item-img img {
  height: 100%;
}

.grid__item:nth-of-type(6n + 1) .grid__item-img img,
.grid__item:nth-of-type(6n + 6) .grid__item-img img {
  aspect-ratio: 345 / 523;
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 492 / 746;
  }
}

.grid__item:nth-of-type(6n + 2) .grid__item-img img,
.grid__item:nth-of-type(6n + 3) .grid__item-img img,
.grid__item:nth-of-type(6n + 4) .grid__item-img img,
.grid__item:nth-of-type(6n + 5) .grid__item-img img {
  aspect-ratio: 345 / 219;
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 580 / 369;
  }
}
