@use "global" as *;


.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(4);
}

.list__item {
  color: #000;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  padding-left: rem(27);
  position: relative;
}

.list__item::before {  // ヒトデのアイコン
  content: "";
  background: url(../images/common/starfish-icon.svg) no-repeat center center / contain;
  width: rem(18);
  height: rem(18);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 15;
}
