@use "global" as *;


.post2 {
  display: block;
  background: #FFF;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  transition: opacity 0.2s ease-out;
}

.post2:hover {
  opacity: 0.6;
}

.post2__wrap {
  padding-block: rem(15) rem(24);
  padding-inline: rem(16);

  @include mq(md) {
    padding-block: rem(24);
    padding-inline: rem(24);
  }
}

.post2__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: rem(13);
}

.post2__meta {
  gap: rem(16);
}

.post2__meta-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.post2__info {
  color: $color-font-base;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.5;

  @include mq(md) {
    gap: rem(30);  // 念の為設定
  }
}

.post2__category {
  width: fit-content;
}

.post2__title {
  margin-top: rem(4);
  color: $color-font-base;
  font-size: rem(16);
  font-weight: 500;
  line-height: normal;

  @include mq(md) {
    margin-top: rem(8);
    font-size: rem(24);
  }
}

.post2__img {
  max-width: 100%;
  width: 100%;
}

.post2__img img {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 151 / 117;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 180 / 140;
  }
}

.post2__text {
  margin-top: rem(15);
  color: $color-font-base;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;

  @include mq(md) {
    margin-top: rem(40);
  }
}
