@use "global" as *;


.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(40);

  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(40);
    row-gap: rem(40);
    align-items: flex-start;  // 上揃えに。
  }
}

.posts__item {
  max-width: rem(500);
  width: 100%;
  // height: auto;
  height: 100%;  //
}




// =======================================
// モディファイア
// =======================================
// .posts--2 (サイドバーの)
.posts--2 {
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}
