@use "global" as *;


.section-head {
  text-align: center;
}

.section-head__title {
  display: block;
  color: $color-font-base;
  font-family: $font-family-en-1;
  font-size: rem(32);
  font-weight: $normal;
  line-height: 1.25;
}

.section-head__first {  // 先頭の文字だけ青色に
  color: $color-accent1;
}

.section-head__subtitle {
  display: block;
  color: $color-accent1;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(4);
}


// Contact特有の指定(モディファイア)
.section-head__title--contact {
  font-size: rem(80);
  line-height: 1;
}


// 白いタイトル(PC時のみ) (モディファイア)
// 先頭以外の文字 (白)
.section-head__title--white {
  @include mq(md) {
    color: #FFF;
  }
}

.section-head__subtitle--white {
  @include mq(md) {
    color: #FFF;
  }
}


// 先頭の文字 (薄い青色)
.section-head__first--white {
  @include mq(md) {
    color: #DDF0F1;
  }
}
