@use "global" as *;


.select {
  border: rem(1) solid $color-accent1;
  color: #000;
  font-size: rem(12);
  font-weight: $normal;
  line-height: normal;
  padding-block: rem(11);
  padding-inline: rem(7);

  transition: background 0.2s ease-out;
}

.select:hover,
.select:focus {  //『入力時』＝『focus時』
  background: rgba(64, 224, 208, 0.1); /* ターコイズブルー + 透明度30％ */
}
