@use "global" as *;


.side-archive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(4);

  color: $color-accent1;
  font-size: rem(24);
  font-weight: $normal;
  line-height: normal;
}

.side-archive__parent {
  padding-left: rem(32);
  position: relative;
  transition: opacity 0.2s ease-out;
}

.side-archive__parent::before {  // デフォルトは『右向き』三角形(▶︎)
  content: "";
  width: rem(24);
  height: rem(24);
  background: url(../images/common/green-arrow-right.svg) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

// 『.side-archive__parent』の隣に『.side-archive__children』がある場合は『.has-children』を付与して、『下向き』三角形に変更する為のCSS (JSで制御)
.side-archive__parent.has-children::before {
  transform: translateY(-50%) rotate(90deg);
}

.side-archive__children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(4);
  margin-left: rem(24);
}

.side-archive__child {
  padding-left: rem(32);
  position: relative;
  transition: opacity 0.2s ease-out;
}

.side-archive__child::before {  // 左端の『右向き』三角形(▶︎)
  content: "";
  width: rem(24);
  height: rem(24);
  background: url(../images/common/green-arrow-right.svg) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}


.side-archive__parent:hover ,
.side-archive__child:hover {  // hover
  opacity: 0.7;
}
