@use "global" as *;


.single-post {

}

.single-post__wrap {

}

.single-post__top {

}

.single-post__date {
  font-family: $font-family-en-1;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.285;
}

.single-post__title {
  margin-top: rem(8);
  font-size: rem(24);
  font-weight: 500;
  line-height: normal;
  padding-bottom: rem(3.5);
  border-bottom: rem(1) solid $color-accent1;

  @include mq(md) {
    font-size: rem(32);
    padding-bottom: 0;
  }
}

.single-post__main {
  margin-top: rem(23.5);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-post__eye-catch {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-post__eye-catch img {
  aspect-ratio: 345 / 231;
  object-fit: cover;
  width: 100%;

  @include mq(md) {
    aspect-ratio: 700 / 468;
  }
}



.single-post__content {  // WordPressの『the_content()』の親要素

}

.single-post__content p {  // 『the_content()』で出力されるため、タグに指定。
  margin-top: rem(24);
  color: #000;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;

  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-post__content img {
  display: block;
  margin-top: rem(24);
  aspect-ratio: 345 / 231;
  object-fit: cover;
  width: 100%;

  @include mq(md) {
    margin-top: rem(40);
    aspect-ratio: 700 / 468;
  }
}

.single-post__content ul {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(4);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-post__content ul li {
  color: #000;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  padding-left: rem(27);
  position: relative;
}

.single-post__content ul li::before {  // ヒトデのアイコン
  content: "";
  background: url(../images/common/starfish-icon.svg) no-repeat center center / contain;
  width: rem(18);
  height: rem(18);
  position: absolute;
  top: rem(4);
  left: 0;
  z-index: 15;
}
