@use "global" as *;


.table {
  border-collapse: collapse;  // ※表のセルの仕切り線を無くす記述。

  @include mq(md) {
    display: flex;
  }
}

.table__head {
  background: $color-accent1;

  @include mq(md) {
    display: grid;
    place-items: center;
    flex-grow: 1;
    width: 28.57%;
  }
}

.table__head-row {
  width: 100%;

  @include mq(md) {
    display: grid;
    place-items: center;
  }
}

.table__head-cell {
  padding-block: rem(8);
  padding-inline: rem(10);  // 念の為に指定

  @include mq(md) {
    padding-block: rem(41);
  }
}

.table__head-cell:nth-of-type(2) {
  display: none;
}

.table__head-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(8);

  @include mq(md) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: rem(8);
  }
}

.table__head-content svg {  // クジラのアイコン
  aspect-ratio: 1 / 1;
  width: rem(24);

  @include mq(md) {
    width: rem(64);
    height: rem(64);
  }
}

.table__title {
  color: #FFF;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.5;
}

.table__body {
  @include mq(md) {
    flex-grow: 1;
    width: 71.42%;
  }
}

.table__row {
  display: flex;
  width: 100%;
}

.table__cell-text {
  display: grid;
  place-items: center;

  padding-block: rem(8);
  text-align: center;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  width: 69.56%;
  border-top: rem(1) solid $color-accent1;
  border-right: rem(1) solid $color-accent1;
  border-left: rem(1) solid $color-accent1;

  @include mq(md) {
    display: block;
    padding-block: rem(17);
    padding-inline: rem(16);
    text-align: left;
    width: 68%;
  }
}

.table__cell-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-block: rem(18);
  padding-inline: rem(16);
  text-align: right;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  width: 30.43%;
  border-top: rem(1) solid $color-accent1;
  border-right: rem(1) solid $color-accent1;

  @include mq(md) {
    padding-block: rem(17);
    width: 32.4%;
  }
}

.table__row:last-child .table__cell-text,
.table__row:last-child .table__cell-price {  // 最後の行のセルだけ、border-bottomを付与。
  border-bottom: rem(1) solid $color-accent1;
}
