@use "global" as *;


// TOPへ戻るボタン
.top-btn {
  display: block;
  position: fixed;
  bottom: rem(10);
  right: rem(16);
  z-index: 300;
  opacity: 0;    // 通常は透明に。(スクロールしたら現れる)
  visibility: hidden;  // かつ、通常は押せないように。

  @include mq(md) {
    bottom: rem(30);
    right: rem(20);
  }
}

.top-btn.is-show {
  opacity: 1;
  visibility: visible;
}

.top-btn:hover .top-btn__wrap {
  background: $color-accent1;
  border: 1px solid $color-background-base;
}

.top-btn:hover .top-btn__arrow svg path {
  stroke: $color-background-base;
}

.top-btn__wrap {
  background: $color-background-base;
  width: rem(48);
  height: rem(48);
  border: 1px solid $color-accent1;
  border-radius: 50%;
  position: relative;
  transition: background 0.2s ease-out, border 0.2s ease-out;

  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}

.top-btn__arrow {
  width: rem(6);
  height: rem(28);
  position: absolute;
  top: 50%;
  left: 43%;  // 矢印が中央に来るように調整
  transform: translate(-50%, -50%);

  @include mq(md) {
    width: rem(6);
    height: rem(40);
    left: 46%;
  }
}

.top-btn__arrow-sp {  // SP時の矢印 (PC時は非表示)
  @include mq(md) {
    display: none;
  }
}

.top-btn__arrow-pc {  // PC時の矢印 (PC時は非表示)
  display: none;

  @include mq(md) {
    display: block;
  }
}

.top-btn__arrow svg {
  // width: rem(6);
  // height: rem(28);

  // @include mq(md) {
  //   width: rem(6);
  //   height: rem(40);
  // }
}

.top-btn__arrow svg path {
  transition: stroke 0.2s ease-out;
  // width: rem(6);
  // height: rem(28);

  // @include mq(md) {
  //   width: rem(6);
  //   height: rem(40);
  // }
}
