@use "global" as *;


.voice {
  position: relative;
}

.voice::before {  // 魚の群れ
  @include mq(md) {
    content: "";
    background: url(../images/common/fishes.png) no-repeat center center / contain;
    width: rem(308);
    max-width: rem(308);
    height: rem(145);
    max-height: rem(145);
    transform: scaleX(-1);  // 左右反転。
    position: absolute;
    top: rem(-120);
    left: calc(50% - min(48vw, 39rem));  // *位置を制御
  }
}

.voice__inner {
}

.voice__heading {
}

.voice__posts {
  margin-top: rem(44);

  @include mq(md) {
    margin-top: rem(30);
    position: relative;
  }
}

.voice__posts::after {  // タツノオトシゴ
  @include mq(md) {
    content: "";
    background: url(../images/common/dragon.png) no-repeat center center / contain;
    width: rem(71);
    max-width: rem(71);
    height: rem(162);
    max-height: rem(162);
    position: absolute;
    bottom: rem(-205);
    right: 0;
  }
}

.voice__btn-wrap {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}

.voice__btn.btn {
}
