@use "global" as *;


// プラグイン『WP-PageNavi』を使用
.wp-pagenavi {

}

.wp-pagenavi__prev {

}

.wp-pagenavi__current {

}

.wp-pagenavi__number {

}

.wp-pagenavi__next {

}



/* ページネーション全体のスタイル */
.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);
}

/* ページ番号リンクのスタイル */
.wp-pagenavi .page {
  height: rem(38);  // ページネーションは高さが絶対に変わらないから、高さを指定してOK。
  min-width: rem(38);  // 最小幅を指定。
  padding-inline: rem(3);  // paddingは、横方向のみ最低限を指定。縦方向の指定は不要。
  display: grid;
  place-items: center;

  border: rem(1) solid $color-accent1;
  background: $color-background-base;

  color: $color-accent1;
  font-family: $font-family-en-2;
  font-size: rem(16);
  font-weight: $bold;
  line-height: normal;
  transition: all 0.2s ease-out;
}

.wp-pagenavi .page:hover {  // hover
  background: $color-accent1;
  color: $color-background-base;
}

/* 現在のページ番号のスタイル */
.wp-pagenavi .page.current {
  height: rem(38);  // ページネーションは高さが絶対に変わらないから、高さを指定してOK。
  min-width: rem(38);  // 最小幅を指定。
  padding-inline: rem(3);  // paddingは、横方向のみ最低限を指定。縦方向の指定は不要。
  display: grid;
  place-items: center;

  border: rem(1) solid $color-accent1;
  font-family: $font-family-en-2;
  font-size: rem(16);
  font-weight: $bold;
  line-height: normal;
  background-color: $color-accent1;
  color: $color-background-base;
}

/* 「次へ」「前へ」リンクのスタイル */
.previouspostslink {
  margin-right: rem(28);
}

.nextpostslink {
  margin-left: rem(28);
}

.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
  height: rem(38);  // ページネーションは高さが絶対に変わらないから、高さを指定してOK。
  min-width: rem(38);  // 最小幅を指定。
  padding-inline: rem(3);  // paddingは、横方向のみ最低限を指定。縦方向の指定は不要。
  display: grid;
  place-items: center;

  border: rem(1) solid $color-accent1;
  background: $color-background-base;
  transition: background 0.2s ease-out;
}

.wp-pagenavi .nextpostslink:hover,
.wp-pagenavi .previouspostslink:hover {  // hover
  background: $color-accent1;
}

.wp-pagenavi .nextpostslink svg path,
.wp-pagenavi .previouspostslink svg path {
  transition: all 0.2s ease-out;
}

.wp-pagenavi .nextpostslink:hover svg path,
.wp-pagenavi .previouspostslink:hover svg path {  // hover
  stroke: $color-background-base; // fillで指定すると中身が塗りつぶされてしまう為、strokeを変更
}

.wp-pagenavi .nextpostslink svg,
.wp-pagenavi .previouspostslink svg {
  width: rem(8);
  height: rem(16);
}
